@media print {
    body * {
      visibility: hidden;
    }
    .print-only, .print-only * {
      visibility: visible;
    }
    .print-only {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
    }
  }


  .masonry-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 16px;
  }

  @media (min-width: 768px) {
    .masonry-grid-container {
      grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    }
  }

  .masonry-item {
    break-inside: avoid;
  }
